body {
  font-family: "Orbitron", sans-serif;
  background: rgb(244, 223, 227);
  background: linear-gradient(
    90deg,
    rgba(244, 223, 227, 1) 0%,
    rgba(159, 94, 150, 1) 100%
  );
}

.App {
  margin: 20px;
  width: 800px;
  height: 540px;
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
  border: 5px solid black;
  border-radius: 10px;
  margin-bottom: 20px;
  background-image: url("pink-city.jpg");
  background-size: 1000px;
}
h1 {
  font-size: 20px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

li {
  list-style: none;
  font-size: 20px;
  font-weight: 100px;
  line-height: 25px;
  text-transform: capitalize;
}

ul {
  margin: 0;
  padding: 0;
}

footer {
  text-align: center;
}

.overview {
  margin-bottom: 20px;
}

#button {
  background-color: #a569a0;
}

#current {
  background-color: #eb8cae;
  position: static;
}

#city {
  position: relative;
  top: 5px;
}

a:link {
  color: #d5749e;
}

a:visited {
  color: brown;
}

a:hover {
  color: hotpink;
}
