@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

body {
  background: rgb(254, 211, 207);
  background: linear-gradient(
    90deg,
    rgba(254, 211, 207, 1) 32%,
    rgba(201, 131, 146, 1) 68%
  );
  font-family: "Montserrat", sans-serif;
}

.App {
  margin: 20px;
  width: 700px;
  height: 540px;
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  margin-bottom: 20px;
  background-image: url("AdobeStock_616534312.jpeg");
  background-size: 900px;
}

footer {
  text-align: center;
}

.overview {
  margin-bottom: 20px;
}

#button {
  background-color: #a13844;
  border: 1px solid #a13844;
}

a:link {
  color: #d5749e;
}

a:visited {
  color: brown;
}

a:hover {
  color: hotpink;
}
